@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Playfair Display');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.header_1 {
  color: #1e1125;
  font-family: Playfair Display;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.header_2 {
  color: #000;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
  line-height: 159.5%; /* 3.19rem */
  text-transform: capitalize;
  text-align: left;
}

.cardInfoLabel {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 159.5%; /* 1.595rem */
  text-transform: capitalize;
}

.cardInfoValue {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 159.5%; /* 1.595rem */
  text-transform: capitalize;
}

.cardInfoValue:hover {
  color: #590d82;
  cursor: pointer;
}
.findOpportunitiesDiv {
  display: flex;
}
.findOpportunitiesDiv:hover {
  display: flex;
  align-items: center;
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(9.5px);
    }
    60% {
      transform: translateX(10px);
    }
  }
  animation: bounce 1s ease-in-out;
}
.findOpportunitiesDiv:hover svg {
  display: none;
}
.findOpportunitiesDiv:hover::after {
  content: '\003E';
  color: #590d82;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 159.5%;
  text-transform: capitalize;
}
.cardInfoSpecialValue {
  color: #0a6d0e;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 159.5%; /* 1.595rem */
  text-transform: capitalize;
}

.searchSection {
  height: 30rem;
  background: #1e1125;
  padding-top: 2rem;
  .searchSectionTitle {
    color: #fff;
    text-align: center;
    font-family: Playfair Display;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .searchButton {
    border-radius: 0.625rem;
    background: #590d82;
    box-shadow: 24px 24px 48px 0px rgba(0, 0, 0, 0.1);
    height: 3rem;
    color: white;
    .searchButtonTitle {
      color: #fff;
      font-family: Poppins;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.howItWorksTitle {
  color: #1e1125;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.howItWorksDescription {
  color: rgba(0, 0, 0, 0.81);
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.yellowCardTitle {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.yellowCardDescription {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navFont {
  font-family: Poppins;
  color: #000;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.navFont:hover {
  color: #590d82;
}
.navFont::before,
.navFont::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

.navFont::before {
  background-color: #928f8f;
  height: 1.5px;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.1s cubic-bezier(0.76, 0, 0.24, 1);
}

.navFont:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.getStarted {
  border-radius: 0.625rem;
  background: #590d82;
  box-shadow: 24px 24px 48px 0px rgba(0, 0, 0, 0.1);
  height: 3rem;
  color: white;
}
.getStarted:hover {
  background: #720da9;
}
.getStartedTitle {
  color: #fff;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.comp {
  position: relative;
  top: 3rem;
  right: 5rem;
}
.whyUsPoints {
  flex-grow: 1;
  color: #9046b8;
  font-family: Poppins;
  font-weight: 900;
  font-size: 27px;
}
.whyUsParagraphs {
  flex-grow: 1;
  color: #6a6a6a;
  font-family: Poppins;
  font-size: 27px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 3%;
}
.LearnMoreSection {
  width: 100%;
  height: 32rem;
  background: #1e1125;
  padding-top: 2.5rem;
}
.LearnMoreSectionTitle {
  height: 25%;
  color: #fff;
  text-align: center;
  font-family: Playfair Display;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.learnMoreLabels {
  height: 30%;
  color: #f8f0d3c2;
  font-family: Poppins;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -1.256410002708435px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  &::after {
    content: '';
    border: 0.3rem solid #d9d9d9;
    width: 135%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  &:hover {
    color: #f8f0d3;
    cursor: pointer;
  }
}
.currentLabel {
  color: #f8f0d3;
  &::after {
    content: '';
    border: 0.3rem solid #f8f0d3;
  }
}

.paragraph {
  height: 16%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.256410002708435px;
  color: #c2c2c2;
}
.learnMoreBtnDiv {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 32%;
}
.testimonialSection {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 32rem;
  width: 100%;
  background-color: #fff;
}
.testimonialTitle {
  font-family: Poppins;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  color: #1e1125;
}
.testimonialSubtitle {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  color: #000000cf;
}
.testimonialName {
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  color: #000;
}
.testimonialPosition {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  color: #000;
  margin: 0.5rem 0;
}
.testimony {
  font-family: Oleo Script;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: #3c3c3c;
}
.contactsUsSection {
  background-color: #f8f0d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40rem;
}
.contactUsTitle {
  margin-bottom: 1rem;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1125;
}
.contactUsSubtitle {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  // line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #000;
}
.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 25rem;
  background: #1e1125;
}
.footerContainer {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
  width: 100%;
  height: 70%;
}

.footerSubsection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25%;
  padding: 1rem 0;
  margin: 2rem 4rem;
  color: white;
}

.footerTitle {
  font-family: Oleo Script;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  color: #ffffff;
}
.footerText {
  font-family: Nunito;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  color: #ffffff;

  text-align: left;
}
.footerTitleGroup {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.linkContainer {
  font-family: Nunito;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: #ffffff;

  text-align: left;

  display: flex;
  flex-direction: column;
}
