@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.chipShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.buttonText {
  color: var(--text-color, #252b42);

  /* h5 */
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.00625rem;
}
