.modalSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #faf7fe;
  margin: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 8px 7px 32px 15px rgba(62, 66, 66, 0.19);
  -moz-box-shadow: 8px 7px 32px 15px rgba(62, 66, 66, 0.19);
  box-shadow: 8px 7px 32px 15px rgba(62, 66, 66, 0.19);
}

.modalHeader {
  display: flex;
  justify-content: center;
  color: #000;
  font-family: Poppins;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 1rem 0;
}
.modalSubHeaders {
  color: #000;
  font-family: Poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 0;
  padding-left: 0;
}
.epigraphs {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin: 0.5rem 0;
  padding-bottom: 0;
}
