.container {
  border: 1px solid black;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
.label {
  color: #000;
  text-align: left;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.checkboxLabel {
  color: var(--gray-90, #424242);
  font-family: Inter;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 90.909% */
  text-transform: capitalize;
}

.totalExpansesLabel {
  color: #000;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 159.5%; /* 1.99375rem */
  text-transform: capitalize;
}

.addButton {
  border-radius: 3.125rem;
  border: 1px solid var(--primary-border, #b6ace5);
  background: var(--gray-10, #fff);
  .buttonText {
    color: var(--primary-main, #331bae);
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem; /* 133.333% */
    text-transform: uppercase;
  }
}
