.input-slider {
	width: 50rem;
}
.number-input {
	width: 7rem;
}
.search-form-wrapper .row {
	display: flex;
	justify-content: center;
}
.ant-form-item-control-input-content {
	display: flex;
}
.ant-form-item-control-input-content {
	display: flex;
}
