.factsGrid {
  background-color: rgba(248, 240, 211, 0.6);
  padding: 1rem;
}
.label {
  color: #0e0d0d;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
  text-transform: capitalize;
}
.value {
  color: #000;
  font-family: Poppins;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
