@import url('https://fonts.googleapis.com/css?family=Poppins');
.infoHeader {
  color: #000;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.infoDescription {
  color: rgba(10, 9, 9, 0.68);
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
